@page "/CreateVoting"

<div>
    <h2>New voting</h2>
    <div class="input-group mb-3">
        <div class="create_voting">
            <div class="input voting">
                <input class="form-control"
                       @bind="titleVoting"
                       type="text"
                       placeholder="Title"
                       aria-describedby="button-addon1"
                       maxlength="50" />
            </div>
            <div class="input voting">
                <textarea class="form-control"
                          @bind="descriptionVoting"
                          id="exampleFormControlTextarea1"
                          placeholder="Description"
                          rows="3"
                          maxlength="250" />
            </div>
            <div class="input voting">
                <input class="form-control"
                       @bind="start_dateVoting"
                       placeholder="Start Date"
                       min="2020-01-01"
                       max="2200-01-01"
                       type="date" />
            </div>
            <div class="input voting">
                <input class="form-control"
                       @bind="end_dateVoting"
                       placeholder="End Date"
                       min="2020-01-01"
                       max="2200-01-01"
                       type="date" />
            </div>
            <div class="input voting">
                <input class="form-control"
                       type="text"
                       placeholder="Voting Option"
                       maxlength="50" />
            </div>
            @if (haveOption) {
                <div class="input voting">
                    <input class="form-control"
                           type="text"
                           placeholder="Voting Option"
                           maxlength="50" />
                </div>
            }
            @if (haveOption) {
                <div class="input voting">
                    <input class="form-control"
                           type="text"
                           placeholder="Voting Option"
                           maxlength="50" />
                </div>
            }
            @if (haveOption) {
                <div class="input voting">
                    <input class="form-control"
                           type="text"
                           placeholder="Voting Option"
                           maxlength="50" />
                </div>
            }
            <div class="input voting">
                <div class="option voting">
                    <input class="form-control"
                           type="text"
                           placeholder="Voting Option"
                           maxlength="50" />
                    <button type="button"
                            style="margin-left:10px; width: 25%;"
                            @onclick="AddOption"
                            class="@propertyOptionButton">
                        @additionalOption
                    </button>
                </div>
            </div>


        </div>
    </div>
    <div class="create_voting button">
        <button type="button" class="btn btn-success">Save</button>
    </div>
</div>

@code {
    public string titleVoting { get; set; }
    public string descriptionVoting { get; set; }
    public DateTime start_dateVoting { get; set; } = DateTime.Now;
    public DateTime end_dateVoting { get; set; } = DateTime.Now;

    public bool haveOption = false;
    public string additionalOption= "+ Add option";
    public string propertyOptionButton = "btn btn-outline-secondary";

    public void AddOption() {
        if (haveOption) {
            haveOption = false;
            additionalOption = "+ Add option";
            propertyOptionButton = "btn btn-outline-secondary";
        }
        else {
            haveOption = true;
            additionalOption = "Hide option";
            propertyOptionButton = "btn btn-outline-danger";

        }
    }


    public IList<OptionVoting> optionVoting = new List<OptionVoting>();




}
