@page "/"
@inject NavigationManager NavigationManager
@using System.Net.Http
@inject HttpClient Http

<div class="main page">
    <div class="main_voting">
        <button type="button" class="btn btn-success" @onclick="OpenVoting">Create vote</button>
    </div>
    <div class="vote info">
        @foreach (var vote in votings) {
        <div class="container" @onclick="(() => VoteInfo(vote.Id))">
            <div class="row">
                <div class="col-sm">
                    <b>Title:</b> @vote.TitleVoting
                </div>
                <div class="col-sm">
                    <b>Desciption:</b> @vote.DescriptionVoting
                </div>
                <div class="col-sm">
                    <b>End Vote:</b> @vote.End_dateVoting.ToString("dd.MM.yyyy")
                </div>
            </div>
        </div>
        }
    </div>
</div>

<style>
    .container {
        margin: 15px 0 15px 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 10px;

        cursor: pointer;
    }
    
</style>


@code{
    public void OpenVoting() {
        NavigationManager.NavigateTo("CreateVoting");
    }

    public void VoteInfo(string id) {
        NavigationManager.NavigateTo("VoteInfo/"+id);
    }

    private List<Vote.Models.OptionVoting> votings = new List<Models.OptionVoting>();

    protected override async Task OnInitializedAsync() {
        votings = await Http.GetFromJsonAsync<List<Vote.Models.OptionVoting>>("/api/VoteInfoes/"); // Получаем данные из севрера
    }
}

