@page "/"

<div class="top_bar_voting">
    <h1>Vote app</h1>
    <button type="button" class="btn btn-success" @onclick="OpenVoting">Успех</button>
</div>

@code{
    public void OpenVoting() {
       
    }


}



<SurveyPrompt Title="How is Blazor working for you?" />
