@page "/"

<div class="main_voting">
    <button type="button" class="btn btn-success" @onclick="OpenVoting">Create vote</button>
</div>

@code{
    public void OpenVoting() {
       
    }


}



<SurveyPrompt Title="How is Blazor working for you?" />
