@page "/VoteInfo/{id}"
@inject NavigationManager NavigationManager
@using System.Net.Http
@inject HttpClient Http
@using Vote.Models  

<h3>VoteInfo</h3>

<div class="container">
    <div class="VoteInfo topbar">
        <div class="VoteInfo title">
            @voting.TitleVoting
        </div>
        <div class="VoteInfo title">
            <div class="VoteInfo link">
                <MatButton Raised="true" Icon="favorite" Style="color:aqua">Invite</MatButton>
            </div>
            <div class="VoteInfo link">
                <MatButton Raised="true" Icon="favorite">Edit</MatButton>
            </div>
            <div class="VoteInfo link">
                <MatButton Raised="true" Icon="favorite">Delete</MatButton>
            </div>
        </div>
    </div>

    <div class="VoteInfo details">
        <div class="VoteInfo column">
            Left Column
        </div>
        <div class="VoteInfo column">
            Rigth Column
        </div>
    </div>

    <div class="VoteInfo chat">
        CHAT
    </div>


</div>






@code {
    [Parameter]
    public string id { get; set; }

    OptionVoting voting = new OptionVoting();
    protected override async Task OnInitializedAsync() {
        voting = await Http.GetFromJsonAsync<OptionVoting>("/api/VoteInfoes/" + id);
    }


}
