@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="top-row px-4">
        <div class="top_bar_title">
            <h2>VoteApp</h2>
        </div>
        <div class="top_bar_links">
            <a href="" class="link_login">Login</a>
            <a href="" class="link_register">Register</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
