<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Vote</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>

        <NavLink class="nav-link" href="#" @onclick="OpenSubMenu">
            <span class="oi oi-list-rich" aria-hidden="false"></span> Vote
        </NavLink>
        <ul class="sub-menu">
                <li class="nav-item px-3"  style="display:@openclose">
                    <NavLink class="nav-link" href="#">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Add new
                    </NavLink>
                </li>

                <li class="nav-item px-3" style="display:@openclose">
                    <NavLink class="nav-link" href="#">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> My votes
                    </NavLink>
                </li>
        </ul>
    </li>
    <ul class="nav flex-column">
    </ul>
</div>

@code {
    string openclose = "none";

    void OpenSubMenu() {
        if (openclose == "none")
            openclose = "block";
        else
            openclose = "none";
    }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }
}
