@inject NavigationManager NavigationManager
<div class="sidebar">
    <div class="profile_info">
        <img src="/images/user.png" class="profile_image" alt="">
        <h4>Name</h4>
    </div>
    <a href=""><i class="fas fa-vote-yea"></i><span>Main</span></a>
    <a href="/CreateVoting"><i class="fas fa-plus"></i><span>Create Vote</span></a>
    <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
    <MatButton Raised="true" Icon="favorite" @onclick="GoToGitlab">GitLab</MatButton>
</div>

@code{ 
    private void GoToGitlab()
    {
        NavigationManager.NavigateTo("https://gitlab.com/nevilov/Vote");
    }
}